# Node.js
node_modules/
dist/
.env

# Logs
logs
*.log
npm-debug.log*

# Typescript
*.tsbuildinfo

# Optional npm cache directory
.npm

# IDE specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Nodemon and environment
nodemon.json
.env.local
.env.development.local
.env.test.local
.env.production.local
